* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.background {
    min-width: 100%;
    position: absolute;
    z-index: -5;
    height: 100%;
}

body {
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    min-width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
}

header p {
    padding: 5px 10px;
}

.topandbottom {
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    font-size: 14px;
    width: 85%;
    min-height: 3vh;
}

.topandbottom a,
.topandbottom a i {
    text-decoration: none;
}

.topandbottom a:hover,
.topandbottom a i:hover {
    color: white;
}

.contact {
    display: flex;
    text-decoration: none;
}

.contact a {
    text-decoration: none;
    color: white;
}

.contact a:last-child {
    padding-left: 15px;
}

.logo-and-nav-container {
    width: 100%;
    background-color: #DEDEDE;
}

.logo-and-nav {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 12vh;
    margin: auto;
}

.logo {
    display: flex;
    background-image: url(../img/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 32px;
    padding: 20px;
    text-indent: 80px;
    font-weight: bold;
}

.logo a {
    text-decoration: none;
    color: black;
    font-size: 36px;
    font-weight: 700;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 0 25px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: 600;
}

nav a:hover {
    color: #42AECC;
}

.active {
    background-color: #77A02E;
    color: white;
    border-radius: 40px;
    padding: 4px 10px;
}

.active:hover {
    color: white;
}

footer {
    background-color: black;
    display: flex;
    justify-content: center;
    width: 100%;
}

footer p,
footer a {
    padding: 5px 0;
    font-size: 14px;
}

footer a:link,
footer a:visited {
    color: white;
}

footer a:visited {
    color: white;
}

footer a:hover {
    color: #DDF0F6;
}

footer i {
    text-decoration: underline;
}

.hamburger {
    display: none;
}


/* header footer responsivity */

@media (max-width:1050px) {
    .topandbottom {
        width: 95%;
    }
    .logo-and-nav {
        width: 95%;
    }
}

@media (max-width:900px) {
    nav ul li {
        padding: 0 15px;
    }
}

@media (max-width:800px) {
    nav ul {
        display: none;
    }
    .hamburger {
        display: inline-block;
        cursor: pointer;
    }
    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }
    /* Rotate first bar */
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    /* Fade out the second bar */
    .change .bar2 {
        opacity: 0;
    }
    /* Rotate last bar */
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
    .ham-nav {
        background-color: #777777;
        width: 100%;
    }
    .ham-nav div {
        display: flex;
        flex-direction: column;
        font-size: 24px;
        font-weight: 500;
        height: 100%;
        justify-content: space-evenly;
    }
    .ham-nav div a {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;
        border-bottom: 2px solid white;
        border-top: 2px solid white;
        padding: 20px;
    }
    .ham-nav div a:nth-child(2) {
        border: none;
    }
    .ham-nav div a:hover {
        background-color: #333;
    }
}

@media (max-width:750px) {
    .topandbottom p,
    .topandbottom a {
        font-size: 12px;
    }
    .contact p:first-child {
        display: none;
    }
}

@media (max-width:750px) {
    .topandbottom p,
    .topandbottom a {
        font-size: 12px;
    }
}

@media (max-width:600px) {
    .topandbottom p,
    .topandbottom a {
        font-size: 11px;
    }
}

@media (max-width:550px) {
    .topandbottom p,
    .topandbottom a {
        font-size: 10px;
    }
}

@media (max-width:480px) {
    .topandbottom p,
    .topandbottom a {
        font-size: 9px;
    }
    .fa {
        padding-right: 2px !important;
    }
    .contact a:last-child {
        padding-left: 5px;
    }
    header p {
        padding: 0;
    }
    .logo {
        padding: 10px;
        text-indent: 60px;
    }
    .logo a {
        font-size: 32px;
    }
    .ham-nav div {
        font-size: 16px;
    }
    .ham-nav div a {
        padding: 10px;
    }
}

@media (max-width:400px) {
    .logo {
        padding: 10px;
        text-indent: 50px;
    }
    .logo a {
        font-size: 24px;
    }
}

@media (max-width:350px) {
    .logo {
        text-indent: 45px;
    }
    .bar1,
    .bar2,
    .bar3 {
        width: 25px;
        margin: 4px 0;
    }
}

@media (max-width:310px) {
    .logo {
        padding: 2px;
        text-indent: 35px;
    }
}

@media print {
    .logo,
    .logo-and-nav {
        margin: 0 !important;
        padding: 0 !important;
        justify-content: center !important;
    }
    nav {
        display: none;
    }
    body {
        background-image: none !important;
        -webkit-print-color-adjust: exact;
    }
    .topandbottom {
        display: none;
    }
    .logo-and-nav {
        float: top;
    }
    img {
        max-width: 300px;
    }
    .picture {
        max-width: 100px;
    }
    .prices-body {
        justify-content: unset;
    }
}

.contact-main,
.about-main,
.prices-main {
    min-height: 82.1vh;
}


/* css for homepage */

.homepage-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sliderphoto {
    width: 100%;
    height: 50vh;
    position: relative;
    overflow: hidden;
}

.slider {
    position: relative;
    height: 50vh;
    width: 100%;
}

.photo {
    position: absolute;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    filter: brightness(50%);
}

.photo:nth-child(2) {
    z-index: 4;
}

.slider-sale-and-text {
    position: absolute;
    top: 0;
    color: white;
    text-align: right;
    width: 100%;
    margin: auto;
    height: 100%;
}

.slider-sale {
    font-size: 128px;
    font-weight: bold;
    height: 128px;
    width: 85%;
    margin: 50px auto 0 auto;
}

.slider-text {
    font-size: 64px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
}

.slider-text-sale {
    width: 100%;
}

.slider-text-brand {
    color: #72E0FF;
}

.rectangles {
    position: absolute;
    display: flex;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.rectangle:nth-child(2) {
    margin: 0 20px;
    background-color: white;
}

.rectangle {
    width: 100px;
    height: 20px;
    border: 5px solid white;
}

.rectangle:hover {
    background-color: white;
    cursor: pointer;
}

.icons {
    display: flex;
    min-height: 35vh;
    width: 85%;
    justify-content: space-between;
    padding: 10px 0;
}

.icon-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: calc(100% / 3);
    min-height: 35vh;
    text-align: center;
}

.icon-container h2 {
    font-size: 64px;
    font-weight: 600;
    color: #303030;
}

.icon-container img {
    object-fit: contain;
    height: 150px;
}

.bottom-section {
    display: flex;
}

.bottom-section section {
    width: calc(100% / 3 * 2);
    background-color: #777777;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 10px 0;
}

.bottom-section section h2 {
    font-size: 64px;
    width: 88.75%;
    float: right;
    margin: 0 0 20px 0;
}

.bottom-section section p {
    font-size: 24px;
    width: 88.75%;
    float: right;
    padding-right: 20px;
}

.bottom-section img {
    filter: brightness(90%);
    width: calc(100% / 3);
}

.info-footer-container {
    width: 100%;
    background-color: #DEDEDE;
}

.info-footer {
    width: 85%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    min-height: 15vh;
    font-size: 16px;
}

.info-contacts {
    display: flex;
    width: calc(100% / 3 * 2);
}

.info-contact {
    display: flex;
    width: calc(100% / 3);
    align-items: center;
}

.info-contact img {
    object-fit: contain;
    margin: 0 10px;
    max-height: 70%;
}

.aditional-links {
    display: flex;
    flex-direction: column;
}

.aditional-links a {
    color: black;
}

.fa {
    font-size: 14px;
    padding-right: 5px;
}

@media (max-width:1400px) {
    .icon-container h2 {
        font-size: 48px;
    }
    .slider-sale {
        font-size: 96px;
        height: 96px;
    }
    .slider-text {
        font-size: 48px;
    }
    .bottom-section section h2 {
        font-size: 48px;
    }
    .bottom-section section p {
        font-size: 16px;
    }
    .info-footer {
        font-size: 14px;
    }
}

@media (max-width:1050px) {
    .info-footer {
        width: 95%;
    }
    .icons {
        width: 95%;
    }
    .slider-sale {
        width: 95%;
    }
    .slider-text {
        width: 95%;
    }
    .bottom-section section h2 {
        width: 96.25%;
    }
    .bottom-section section p {
        width: 96.25%;
    }
}

@media (max-width:900px) {
    .icon-container h2 {
        font-size: 32px;
    }
    .bottom-section section h2 {
        font-size: 32px;
    }
    .bottom-section section p {
        font-size: 14px;
    }
    .info-footer {
        font-size: 12px;
        min-height: 10vh;
    }
    .icon-container img {
        height: 100px;
    }
    .slider {
        position: relative;
        height: 40vh;
    }
    .sliderphoto {
        position: relative;
        height: 40vh;
    }
    .photo {
        height: 40vh;
    }
    .icons {
        min-height: 25vh;
    }
    .icon-container {
        min-height: 25vh;
    }
    .bottom-section {
        min-height: 20vh;
    }
    .bottom-section img {
        object-fit: cover;
    }
    .info-contact img {
        max-height: 50%;
    }
    .fb-icon {
        max-height: 5vh;
    }
}

@media (max-width:650px) {
    .icons {
        flex-direction: column;
        height: auto;
    }
    .icon-container {
        flex-direction: row;
        width: auto;
        height: auto;
        min-height: auto;
        margin: 20px 0;
    }
    .icon-container:nth-child(2) {
        margin: -10px 0;
    }
    .icon-container h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60%;
    }
    .icon-container img {
        width: 35%;
    }
    .info-contacts {
        flex-direction: column;
    }
    .info-contact img {
        max-height: 30px;
        width: 10%;
        margin: 0 5px 0 0;
    }
    .info-contact {
        margin: 10px 0;
        width: auto;
        padding: 5px;
    }
    .info-contact:nth-child(2) {
        margin: -5px 0;
    }
}

@media (max-width:550px) {
    .bottom-section section p {
        font-size: 12px;
    }
    .bottom-section section {
        width: 50%;
    }
    .bottom-section img {
        width: 50%;
    }
    .bottom-section section h2 {
        font-size: 24px;
        margin: 0 0 10px 0;
    }
}

@media (max-width:500px) {
    .slider-sale {
        font-size: 72px;
        height: 72px;
    }
    .slider-text {
        font-size: 36px;
    }
    .slider {
        height: 35vh;
    }
    .sliderphoto {
        height: 35vh;
    }
    .photo {
        height: 35vh;
    }
    .rectangle {
        width: 50px;
        height: 10px;
        border: 3px solid white;
    }
    .icon-container img {
        height: 60px;
    }
    .info-contact img {
        max-height: 20px;
    }
}

@media (max-width:420px) {
    .contact a:first-child {
        display: none;
    }
    .info-footer {
        font-size: 10px;
    }
    .bottom-section section p {
        font-size: 11px;
    }
    .bottom-section section h2 {
        font-size: 16px;
        margin: 0 0 5px 0;
    }
    .bottom-section section p {
        padding-right: 5px;
    }
    .icon-container h2 {
        font-size: 24px;
    }
}

@media (max-width:350px) {
    .slider-sale {
        font-size: 64px;
        height: 64px;
    }
    .slider-text {
        font-size: 32px;
    }
    .slider {
        height: 30vh;
    }
    .sliderphoto {
        height: 30vh;
    }
    .photo {
        height: 30vh;
    }
}

@media (max-width:300px) {
    .slider-sale {
        font-size: 56px;
        height: 56px;
    }
    .slider-text {
        font-size: 28px;
    }
    .slider {
        height: 25vh;
    }
    .sliderphoto {
        height: 25vh;
    }
    .photo {
        height: 25vh;
    }
}

@media (max-height:880px) {
    .slider-sale {
        margin: 35px auto 0 auto;
    }
}

@media (max-height:800px) {
    .slider-sale {
        margin: 25px auto 0 auto;
    }
}

@media (max-height:750px) {
    .slider-sale {
        margin: 15px auto 0 auto;
    }
}

@media (max-height:700px) {
    .slider-sale {
        margin: 5px auto 0 auto;
    }
}

@media (max-height:650px) {
    .slider-sale {
        margin: 0 auto 0 auto;
    }
}

@media (max-height:730px) and (min-width: 1400px) {
    .slider {
        height: 400px;
    }
    .sliderphoto {
        height: 400px;
    }
    .photo {
        height: 400px;
    }
}

@media (max-height:700px) and (max-width: 1400px) {
    .slider {
        height: 350px;
    }
    .sliderphoto {
        height: 350px;
    }
    .photo {
        height: 350px;
    }
}

@media (max-height:730px) and (max-width: 500px) {
    .slider {
        height: 250px;
    }
    .sliderphoto {
        height: 250px;
    }
    .photo {
        height: 250px;
    }
}

@media (max-height:700px) and (max-width: 350px) {
    .slider {
        height: 200px;
    }
    .sliderphoto {
        height: 200px;
    }
}

@media (max-height:700px) and (max-width: 300px) {
    .slider {
        height: 180px;
    }
    .sliderphoto {
        height: 180px;
    }
    .photo {
        height: 180px;
    }
}


/* css for about 

.about-body {
    background-image: url(../img/background_about.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -1000px;
    background-size: 2500px;
}

.about-main {
    border-top: black 2px solid;
    width: 85%;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container-about {
    margin: auto;
    display: flex;
    width: 60%;
    margin: 20px;
    min-height: 100%;
}

.container-about:first-child {
    margin-top: 30px;
}

.container-about:last-child {
    margin-bottom: 20px;
}

.theme p {
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
}

.theme-first,
.theme-last {
    padding-right: 10px;
}

.theme:nth-child(2) {
    padding-left: 10px;
}

.theme h2,
.theme h1 {
    padding-bottom: 10px;
    font-size: 32px;
    font-weight: 600;
}

.container-about img {
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.5);
    width: 30%;
    padding: 0;
    margin: auto;
}

@media (max-width:1645px) {
    .container-about {
        width: 70%;
    }
}

@media (max-width:1578px) {
    .container-about {
        width: 75%;
    }
    .about-body {
        background-size: 2200px;
    }
    .about-main {
        margin: 0;
        margin-bottom: 25px;
    }
}

@media (max-width:1200px) {
    .container-about {
        width: 95%;
    }
    .about-main {
        border: none;
    }
    .about-body {
        background-size: 1900px;
        background-position-y: -750px;
    }
}

@media (max-width:900px) {
    .container-about {
        flex-direction: column;
    }
    .about-body {
        background-size: 1700px;
    }
    .container-about img {
        width: 100%;
        order: 2;
    }
    .theme-first,
    .theme-last {
        padding-right: 0;
    }
    .theme:nth-child(2) {
        padding-left: 0;
    }
    .theme p {
        padding-bottom: 10px;
        font-size: 12px;
    }
    .about-main {
        border-top: none;
    }
    .theme h2,
    .theme h2 {
        font-size: 18px;
    }
}*/


/* css for kontakt 

.contact-body {
    background-image: url(../img/background_kontakt.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -160px;
    background-size: 2200px;
}

.contact-main {
    padding-top: 30px;
    border-top: black 2px solid;
    width: 85%;
    display: flex;
    height: 100%;
}

.contact-main h2,
.contact-main h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}

.contact-main p,
.contact-main a {
    font-size: 18px;
    font-weight: 500;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 33%;
    align-items: center;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    height: 88%;
}

.user-data,
.send,
.message {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-data input:nth-child(2) {
    margin: 10px 0;
}

.contact-form form input,
textarea {
    width: 300px;
    height: 50px;
    font-size: 14px;
    font-weight: 500;
    padding: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: black 2px solid;
}

::placeholder {
    color: black;
    font-family: 'Montserrat', sans-serif;
}

input,
textarea:focus {
    outline: none;
}

textarea {
    height: 450px;
    margin: 10px 0;
}

.button {
    width: 50% !important;
    align-self: center;
    color: white;
    background-color: black;
    height: 30px !important;
}

.button:hover {
    color: black;
    background-color: white;
    border: black 2px solid;
    cursor: pointer;
}

.container-contact {
    display: flex;
    flex-direction: column;
    width: 67%;
    align-items: center;
}

.information {
    display: flex;
    width: 950px;
    margin-bottom: 26px;
}

.location {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.location a {
    display: block;
    color: black;
}

.opening-time {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.day {
    display: flex;
}

.day p:first-child {
    width: 100px;
}

.map {
    border: black 2px solid !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 450px;
    border-radius: 10px;
}

@media (max-width: 1578px) {
    .contact-body {
        background-size: 1900px;
    }
    .information {
        width: 800px;
    }
    .contact-form form {
        height: 100%;
    }
}

@media (max-width: 1200px) {
    .contact-body {
        background-size: 1700px;
        background-position-y: -100px;
    }
    .container-contact {
        width: 100%;
    }
    .contact-form {
        order: 2;
    }
    .contact-main {
        flex-direction: column;
        align-items: center;
        border: none;
    }
    .contact-form {
        margin-top: 20px;
        width: 100%;
    }
    .contact-form form {
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        justify-content: center;
    }
    .user-data {
        width: 50%;
    }
    .message {
        width: 50%;
    }
    .contact-form form input,
    textarea {
        width: 95%;
    }
    textarea {
        height: 180px;
    }
    .button {
        width: 100% !important;
        margin: 15px 0;
    }
    textarea {
        margin: 0;
        float: right;
    }
    .information {
        width: 90%;
    }
    .location {
        align-items: unset;
    }
    .opening-time {
        align-items: flex-end;
    }
    .map {
        height: 470px;
        width: 90%;
    }
}

@media (max-width: 720px) {
    .contact-body {
        background-size: 1800px;
    }
    .contact-form form input,
    textarea {
        font-size: 11px;
    }
    .contact-form form input {
        height: 50px;
    }
    .contact-form form textarea {
        height: 100%;
    }
    .contact-main p,
    .contact-main a {
        font-size: 12px;
    }
    .contact-main h2,
    .contact-main h1 {
        font-size: 18px;
    }
    .map {
        height: 280px;
    }
}

@media (max-width: 510px) {
    .contact-main {
        width: 95%;
    }
    .day p:first-child {
        width: auto;
    }
    .contact-form form input,
    textarea {
        font-size: 10px;
    }
    .contact-main p,
    .contact-main a {
        font-size: 11px;
    }
    .contact-form form input {
        height: 35px;
    }
    textarea {
        height: 125px;
    }
}

@media (max-width: 300px) {
    .contact-main {
        width: 98%;
    }
    .contact-form form input,
    textarea {
        font-size: 9px;
    }
    .contact-main p,
    .contact-main a {
        font-size: 10px;
    }
} */


/* css for cenik 

.prices-body {
    background-image: url(../img/background_cenik.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -130px;
    background-size: 2200px;
}

.prices-main {
    height: 100%;
    width: 85%;
    border-top: black 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-prices h1 {
    font-size: 32px;
    font-weight: 600;
}

.container-prices {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 55%;
}

.priceList {
    margin: 20px 0;
}

.priceList p {
    font-size: 18px;
    font-weight: 400;
}

.container-prices h1 {
    margin-top: 20px;
}

.note p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}

.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: black 2px dotted;
    margin: 12px 0;
    align-items: flex-end;
}

.row p:last-child {
    flex-shrink: 0;
    padding-left: 15px;
}

@media (max-width:1578px) {
    .prices-body {
        background-position-y: -20px;
        background-size: 1900px;
    }
    .container-prices {
        width: 100%;
    }
    .prices-body {
        justify-content: space-between;
    }
    .prices-main {
        height: 900px;
    }
}

@media(max-width:1200px) {
    .prices-body {
        background-position-y: 20px;
        background-size: 1900px;
    }
}

@media (max-width:800px) {
    .priceList p {
        font-size: 14px;
    }
    .note p {
        font-size: 12px;
    }
    .prices-main {
        border-top: none;
    }
    .container-prices h1 {
        font-size: 24px;
        margin: 20px 0;
    }
    .note {
        margin-top: 15px;
    }
    .prices-body {
        background-image: url(../img/background_cenik_height.svg);
        background-size: 1000px;
        background-position-y: 0;
    }
}

@media (max-width:600px) {
    .prices-main {
        height: auto;
    }
    .prices-body {
        background-size: 900px;
    }
}

@media (max-width:440px) {
    .prices-body {
        background-size: 1000px;
    }
}

@media (max-width:350px) {
    .prices-body {
        background-size: 1100px;
    }
}

@media (max-width:310px) {
    .prices-body {
        background-size: 1200px;
    }
}

@media (max-width:285px) {
    .prices-body {
        background-size: 1300px;
    }
} */